@import './../../styles/mixins';

.video-clips {
  position: relative;
  z-index: 0;

  &__content__video {
    @include full-width();
    &.active {
      position: relative;
    }
    background: #424242;
    video {
      width: 100%;
      // visibility: hidden;
    }
  }
}
