@import './../../styles/typography';

.button {
  @extend .button-font;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: 1em;

  &:focus-visible {
    outline: 1px;
    outline-color: white;
    outline-style: solid;
  }

  .text {
    transition: color 0.1s ease-out;
    white-space: nowrap;
  }

  .active-text {
    color: $white;
  }

  .link_active &,
  .active,
  &:hover {
    &.animates {
      .active-text {
        // color: $gold !important;
        // & > div {
        //   transform: translateY(0%);
        // }
      }
    }
  }
}
