// $black: #04161f;
$black: rgb(026, 026, 026);
$gray: #b1afb0;
// $white: #f2f2f2;
$white: #fff;
$gold: rgb(246, 213, 015);
$eggshell: rgb(255, 250, 240);
$robinBlue: rgb(163, 192, 222);
$lavender: rgb(189, 170, 208);
$periwinkle: rgb(229, 180, 195);
$mint: rgb(174, 207, 173);
$teal: #48a1a0;
$sand: #d2d2d1;
$aqua: #52aaa9;
$fire: #e24535;
$royalBlue: #2a2c76;
$forestGreen: rgb(038, 079, 059);
$goldenrod: rgb(246, 213, 015);
$charcoal: #37373c;

$highlight: #b1afb0;

$orange: rgb(218, 138, 056);

$purple: #55346d;