@import './../../styles/variables';
@import './../../styles/mixins';

.page {
  background: $eggshell;
  min-height: 100svh;
  @include backgroundColors;

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    width: 100%;
    .down-arrow {
      border-color: $black;
    }
  }
}
